html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pDisplay {
  font-family: nunito;
  font-weight: light;
  font-size: 1.25rem;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.pHeader {
  font-family: "Anton", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.pTitle_main {
  font-family: nunito;
  font-weight: bold;
  font-size: 3rem;
}

.pTitle_secondary {
  font-family: nunito;
  font-weight: bold;
  font-size: 2rem;
}

.pTitle_medium {
  font-family: nunito;
  font-weight: bold;
  font-size: 1.3rem;
}

.pHeadline {
  font-family: nunito;
  font-weight: bold;
  font-size: 1.125rem;
}

.pBody {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  font-size: .875rem;
  opacity: 80%;
}

.pCaption {
  font-family: maitree;
  font-weight: normal;
  font-size: .75rem;
}

.white {
  color: white !important;
}

.black {
  color: black !important;
  opacity: 100%;
}

.cta {
  border: none;
  border-radius: 3em;
  width: 100%;
  height: 100%;
  line-height: auto;
  text-align: center;
}


.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 20vw;
  border-radius: 3em;
}

.blue {
  border: none;
  border-radius: 3em;
  width: 100%;
  height: 100%;
  line-height: auto;
  text-align: center;
}

.blue:hover {
  color: white;
  box-shadow: 0 4px 8px 0 #558BB3, 0 6px 20px 0 #558BB3 !important;
}

.cta:hover {
  color: white;
  box-shadow: 0 4px 8px 0 rgba(255, 217, 0, 0.432), 0 6px 20px 0 rgba(255, 217, 0, 0.548);
}

#photo {
  display: none;
}

.hide {
  display: none;
}

.animation {
  display: flex;
  width: 50vw;
  height: 50vh;
  align-self: center;
  justify-self: center;
}

.loading {
  background: url("../public/Assets/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.loading h1 {
  color: white;
}

.welcome {
  background: url("../public/Assets/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.failure {
  background: url("../public/Assets/bg5.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
}
.failure h1 {
  font-size: 70px;
  color: white;
  /* margin: 3em; */
}

.welcome h1 {
  font-size: 50px;
  color: white;
  /* margin: 3em; */
}

.welcome h2 {
  color: white;
  opacity: .9;
  padding: 0.5em;
}

.emphasis {
  background: -webkit-linear-gradient(#eee, #87fb89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.emphasis2 {
  background: -webkit-linear-gradient(#eee, #7bc9ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.emphasis3 {
  background: -webkit-linear-gradient(#eee, gold);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.emphasis4 {
  background: -webkit-linear-gradient(black, grey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.decorator1 {

  position: absolute;
  bottom: 60%;
  left: 20%;
}

.decorator2 {
  position: absolute;
  bottom: -3px;
  right:  0%;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10em;
  height: 100vh;
  width: 100vw;
  background:url(../public/Assets/bg.png)
}

.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:url(../public/Assets/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.webcam {
  width: 60%;
  height: 60%;
  border-radius: 3em;
}

.webcam_btn {
  position: absolute;
  bottom: 8em;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}